*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --clr:#222327;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:var(--clr);
}
.navbar
{
  position: relative;
  width: 260px;
  height:70px;
  background: white;
  display: flex;
  justify-content: center;
    align-items: center;
    border-radius: 10px;
  
}
.navbar ul
{
    display: flex;
}
.navbar ul li{
    position: relative;
    list-style: none;
    width: 60px;
    height:70px;
    z-index: 1;
}
.navbar ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 600;


}
.navbar ul li a .icon{
    position: relative; 
     display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);

}
.navbar ul li.active a .icon{
    transform: translateY(-27px);
}
.navbar ul li a .text{
    position: absolute;
    color: var(--clr);
    font-family: 400;
    font-size: 0.75em;
    letter-spacing: 0.08em;
    transition: 0.5s;
    transform: translateY(20px);
    opacity: 0;
}
.navbar ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}
.indicator{
    position: absolute;
    /* left: 10px; */
    width: 60px;
    height: 60px;
    top: -40%;
    background: green;
    border: 6px solid var(--clr);
    border-radius: 50%;
    transition: 0.5s;
}
.indicator::before{
    content: '';
    position: absolute;
    top: 0 ;
    width: 15px;
    height: 15px;
    background:transparent;
    top: 36%;
    left: -19px;
    border-top-right-radius: 28px;
    box-shadow: 0px -8px 0px 0 var(--clr) ;

}
.indicator::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background:transparent;
    top: 45%;
    left: 52px;
    border-top-left-radius: 20px;
    box-shadow: 0px -8px 0px 0 var(--clr) ;

}
.navbar ul li:nth-child(1).active~ .indicator{
    transform : translateX(calc(60px * 0));
}
.navbar ul li:nth-child(2).active~ .indicator{
    transform : translateX(calc(60px * 1));
}
.navbar ul li:nth-child(3).active~ .indicator{
    transform: translateX(calc(60px * 2));
}
.navbar ul li:nth-child(4).active~ .indicator{
    transform: translateX(calc(60px * 3));
}
